<div id="main-text-wrapper" fxLayout fxLayoutAlign="center">
  <h1 class="mat-h1">Вітаємо Вас на офіційному сайті Єдиного державного реєстру культурних цінностей України</h1>
</div>
<div fxLayout fxLayoutAlign="center">
  <img id="gerb" src="../../../assets/gerb.jpg" alt="">
</div>
<div style="height: 50px"></div>
<div fxLayout fxLayoutAlign="center">
  <h1 class="mat-h2">На сайті доступна для перегляду така інформація:</h1>
</div>
<div style="height: 25px"></div>
<div fxLayout="row wrap" fxLayoutAlign="space-around">
  <mat-card>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Реєстр культурних цінностей</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="mat-body">
        Реєстр культурних цінностей являє собою перелік усіх зареєстрованих на території України цінностей культури.
        Будується на основі експертних висновків уповноважених експертів з Міністерства культури. Даний реєстр дозволяє
        переглянути таку інформацію про культурну цінність як дата створення, місце знаходження, короткий опис, фото.
      </p>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="center">
      <button mat-raised-button color="primary" (click)="goToList('regular-values-list')">Переглянути</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Реєстр переміщених культурних цінностей</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="mat-body">
        Реєстр переміщених культурних цінностей являє собою список усіх зареєстрованих на території України цінностей
        культури, які були переміщені з офіційного місця їх перебування. До даного списку включаються цінності, які
        переміщені як і у межах України, так і за кордон. Даний реєстр дозволяє переглянути таку інформацію як час
        переміщення і місце тимчасового знаходження цінності.
      </p>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="center">
      <button mat-raised-button color="primary" (click)="goToList('moved-values-list')">Переглянути</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Реєстр викрадених/зниклих культурних цінностей</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="mat-body">
        До даного реєстру включаються ті культурні цінності України, які були викрадені або зникли. Відомості про
        цінності у даному реєстрі грунтуються на основі інформації, наданої музеями України. До інформації, що
        надається у реєстрі, відноситься час та місце зникнення/викрадення.
      </p>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="center">
      <button mat-raised-button color="primary" (click)="goToList('missed-values-list')">Переглянути</button>
    </mat-card-actions>
  </mat-card>
</div>
<div style="height: 75px"></div>
<div id="bottom-text-wrapper">
  <h2 class="mat-h2">На даному сайті ви можете подати заявку на <span class="underline">внесення культурної цінності в
      єдиний реєстр</span>, або на <span class="underline">вивезення за кордон</span></h2>
  <h3 class="mat-h3">Для того щоб це зробити, вам потрібно <a id="login-link" routerLink="/login">авторизуватися</a></h3>
</div>