<div style="height: 100px"></div>

<div fxLayout fxLayoutAlign="center">
  <span class="mat-display-1 text-center">Шановний {{ user.name }} {{user.surname}}, ви знаходитесь у особистому
    кабінеті системи</span>
</div>
<div fxLayout="column">
  <h1 class="mat-h1 text-center">Тут ви можете подати заявки на внесення культурної цінності в єдиний реєстр і на
    вивезення культурної цінності за кордон</h1>
  <h2 class="mat-h2 text-center">Також ви можете переглянути список поданих вами заяв</h2>
</div>

<div style="height: 75px"></div>

<div fxLayout="row wrap" fxLayoutAlign="space-around">
  <button class="perform-request-btn" mat-raised-button color="primary" (click)="openRegularRequestDialog()">
    Подати заяву на проведення експертизи культурної цінності
  </button>
  <button class="perform-request-btn" mat-raised-button color="primary" (click)="openMoveRequestDialog()">
    Подати заяву на вивезення культурної цінності за кордон
  </button>
</div>

<div style="height: 75px"></div>

<div fxLayout fxLayoutAlign="center">
  <h1 class="mat-h1 text-center">Список ваших заяв</h1>
</div>
<div id="spinner-container" *ngIf="dataSource.loading$ | async" fxLayout fxLayoutAlign="center">
  <div>
    <mat-spinner></mat-spinner>
  </div>
</div>
<div id="no-data-message" *ngIf="!(dataSource.loading$ | async) && (dataSource.empty$ | async)" fxLayout fxLayoutAlign="center center">
  <span class="mat-display-1">За запитом нічого не знайдено</span>
</div>
<div id="filter-controls-block" [class.hidden]="(dataSource.loading$ | async) || (dataSource.empty$ | async)" fxLayout="row wrap">
  <mat-form-field>
    <mat-select [formControl]="filterByTypeControl" placeholder="Тип заяви">
      <mat-option value="regular">Проведення експертизи</mat-option>
      <mat-option value="moved">Вивезення за кордон</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [formControl]="filterByExpertControl" placeholder="Експерт">
      <mat-option *ngFor="let expert of experts | async" [value]="expert.id">
        {{expert.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [formControl]="filterByStatusControl" placeholder="Статус заяви">
      <mat-option value="pending">Очікується</mat-option>
      <mat-option value="accepted">Підтверджено</mat-option>
      <mat-option value="declined">Відхилено</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div id="table-container" [class.hidden]="(dataSource.loading$ | async) || (dataSource.empty$ | async)">
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Тип заяви </th>
      <td mat-cell *matCellDef="let element"> {{element?.type?.title}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Назва культурної цінності </th>
      <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата подання </th>
      <td mat-cell *matCellDef="let element"> {{element?.date | date}} </td>
    </ng-container>
    <ng-container matColumnDef="expert">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Експерт </th>
      <td mat-cell *matCellDef="let element"> {{element?.expert}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Статус заяви </th>
      <td mat-cell *matCellDef="let element" [class.green-text]="element?.status?.value === 'accepted'"
        [class.blue-text]="element?.status?.value === 'pending'" [class.red-text]="element?.status?.value === 'declined'">
        {{element?.status?.title}}
      </td>
    </ng-container>
    <!-- Action Columns -->
    <ng-container matColumnDef="view_request">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button class="view-regular-request-btn" mat-stroked-button color="primary">Переглянути заяву</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="view_response">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="element?.status?.value !== 'pending'" mat-raised-button color="primary">
          Переглянути {{element?.type?.value === 'regular' ? 'висновок' : 'свідоцтво'}}
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator pageSize="10" showFirstLastButtons [length]="dataSource.length$ | async" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
</div>