mat-sidenav {
    position: fixed !important;
    padding-top: 64px;
}

mat-sidenav-container {
    padding-bottom: 64px;
    padding-top: 64px;
}

#toggle-sidenav-button {
    color: white;
    position: fixed;
    top: 10px;
    left: 10px;
}

mat-sidenav-container {
    min-height: calc(100vh - 64px);
}

mat-action-list {
    padding-top: 0;
}

.title {
    font-weight: bold !important;
}

.subtitle {
    opacity: 0.7;
    margin-top: 10px !important;
}